/* general web utilities */
* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  font-family: Helvetica, sans-serif;
}

#map {
  height: 100vh;
  width: auto;
  z-index: 1;
}

/* title elements below */
#masthead {
  margin-top: 80px;
  margin-left: 180px;
  width: 40vw;
  position: fixed;
  z-index: 700;
  display: flex;
}

#mastheadIcon {
  margin-left: 15px;
  margin-top: 10px;
  width: 4%;
  height: auto;
  z-index: 700;
}

#hamburgerMenu {
  position: fixed;
  z-index: 900;
}

#startingSplash {
  z-index: 999;
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  animation: moveUpAndHide 0.75s ease-in-out forwards;
  animation-delay: 6s;
}

#aboutContent, #addContent, #toolsContent {
  width: auto;
  height: auto;
  background-color: white;
  padding: 50px;
}

#indexContent {
  height: auto;
  width: 630px;
  padding-top: 0px;
  /* align-items: center; */
}

#indexContainer {
  height: 675px;
  background-color: white;
  padding: 50px;
  align-items: center;
}


#startingAccept, #startingUnknown, #startingNotAccept {
  animation: wave 1s infinite;
  width: 2.5%;
  height: auto;
  margin: 15px;
}

@keyframes wave {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes moveUpAndHide {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100vh); }
}



h1, li, p {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  list-style-type: none;
}

p {
  font-size: 18px;
}

#topNav li {
  position: relative;
  line-height: 60px;
}

#topNav ul {
  width: 20vw;
}

/* drawer code below */
#topNav {
  display: none;
  position: fixed;
  margin-top: 160px;
  margin-left: 180px;
  width: 25vw;
  height: auto;
  cursor: pointer;
  animation: fadeIn .25s ease-in both;
  flex-direction: column;
  word-spacing: 100vw;
  background-color: transparent
}

#toolsNav, #addNav {
  word-spacing: normal;
}

#topNav li a:hover {
  color: #29b895;
  font-weight: 600;
  transition: all 0.25s ease 0s;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -0.5%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

#drawerContainer {
  position: fixed;
  z-index: 3;
}

/* ABOUT CONTENT */
#aboutContent, #addContent, #toolsContent {
  display: none;
  flex-direction: column;
  position: fixed;
  margin-top: 160px;
  margin-left: 1100px;
  width: 700px;
  height: auto;
}

#indexContent {
  display: none;
  flex-direction: column;
  position: fixed;
  margin-top: 160px;
  margin-left: 1100px;
  height: auto;
}


#aboutBlock {
  margin-bottom: 20px;
}

#legendAccept, #legendNotAccept, #legendUnknown {
  margin-top: 3px;
  margin-right: 10px;
  display: inline-block;
  width: 2%;
  height: auto;
}

#acceptLegendContainer, #notAcceptLegendContainer, #unknownLegendContainer {
  margin-bottom: 15px;
  display: flex;
  width: auto;
}

#queeringthemap:hover {
  color: magenta;
  transition: all 0.25s ease 0s;
}

#myEmail:hover {
  color: #29b895;
  transition: all 0.25s ease 0s;
}

/* ADDING MARKER TAB CONTENT */
.tabs, .indexTabs, .visibleTabs, .visibleTabs2, .visibleTabs3 {
  cursor: pointer;
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  font-size:15px;
  font-weight: 600;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.visibleTabs, .visibleTabs2, .visibleTabs3{
  margin-bottom: 10px;
}

.indexTabs {
  position: fixed;
}

.tabs a, .indexTabs a, .visibleTabs a, .visibleTabs2 a, .visibleTabs3 a{
  text-decoration:none;
  color: black;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.25s;
}

/* Adjust for MQ */
.indexTabs a {
  padding:10px 45px;
}

.tabs a.active, .indexTabs a.active, .visibleTabs a.active, .visibleTabs2 a.active, .visibleTabs3 a.active {
  color:#fff;
}

.tabs a i, .indexTabs a i, .visibleTabs a i, .visibleTabs2 a i, .visibleTabs3 a i {
  margin-right:5px;
}

.tabs .selector, .indexTabs .indexSelector, .visibleSelector, .visibleSelector2, .visibleSelector3 {
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.25s;
  background: transparent;
}

.formInstructions {
  display: flex;
  flex-direction: column;
}

.formInstructions li {
  margin-bottom: 10px;
}

#locationField {
  border-style: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 50px; /* Rounded corners */
  border-color: transparent;
}

.formInstructions ul {
  width: 600px;
}


textarea {
  font-family: Helvetica, sans-serif;
  background-color: white;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  padding: 12px 20px;
  border: none;
  width: 100%;
  height: 150px;
  resize: none;
  margin-bottom: 40px;
}


#submitButton {
  background-color: white;
  border: none; /* No border */
  font-family: Helvetica, sans-serif;
  padding: 15px 32px; /* Padding around the text */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Allows setting width and height */
  font-size: 18px; /* Text size */
  margin: 4px 2px; /* Margin around the button */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  border-radius: 50px; /* Rounded corners */
  font-weight: 600;
  z-index: 999;
  color: black;
}

#locationField .pac-icon {
  background-image: url('./markersvg/mastheadIcon.svg') !important; 
  background-size: contain !important;
  background-repeat: no-repeat !important;
  width: 24px !important; /* Adjust size as needed */
  height: 24px !important; /* Adjust size as needed */
}

.pac-container {
  min-width: 250px;
  height: auto;
  border: none;
  outline: none;
}

#submitButton {
  display: flex;
}


/* MARKER INFO WINDOW */
.accept-content, .not-accept-content, .unknown-content, #infowindow-content{
  font-family: Helvetica, sans-serif;
}

.accept-content h3, .not-accept-content h3, .unknown-content h3, #infowindow-content h3{
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 8px;
  line-height: 18px;
  font-size: 18px;
}

.accept-content p, .not-accept-content p, .unknown-content p,  #infowindow-content p{
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 18px;
  font-size: 14px;
}


/* Tools Style */
#tools {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#tools h3 {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

#visibilitySelectors p {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  width: auto;
  padding-left: 10px;
  padding-top: 10px;
}

#tabs2Container, #tabsContainer, #tabs3Container {
  display: flex;
  padding-bottom: 35px;
}



/* INDEX STYLES */
#indexContainerAccept, #indexContainerUnknown, #indexContainerNotAccept {
  position: absolute;
  width: auto;
  height: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 500px;
  max-height: 500px
}

.accept-marker, .unknown-marker, .not-accept-marker {
  margin-bottom: 40px;
}

#indexContainerAccept p, #indexContainerUnknown p, #indexContainerNotAccept p {
  font-size: 14px;
  margin-top: 8px;
}

#indexContainerAccept .noMarkers p, #indexContainerUnknown .noMarkers p, #indexContainerNotAccept .noMarkers p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0px;
}


/* button for drawer code below */
#leftSideDrawer {
  position: fixed;
  z-index: 3;
}

.hamburgerMenu {
  position: fixed;
  padding-top: 80px;
  padding-left: 50px;
  z-index: 900;
}

#button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
  outline: none;
  width: 50px;
    
  &.toggled {
    #icon {
      background-color: transparent;
        
      &:before {
        top: 0px;
        transform: rotate(-45deg);
      }
        
      &:after {
        bottom: 0px;
        transform: rotate(45deg);
      }
    }
  }
    
  #icon {
    background-color: black;
    height: 6px;
    position: relative;
    transition: all 0.25s;
    width: 50px;
      
    &:before,
    &:after {
      background-color: black;
      content: "";
      height: 6px;
      left: 0px;
      position: absolute;
      transition: all 0.25s;
      width: 50px;
    }
      
    &:before {
      top: -15px;
    }
      
    &:after {
      bottom: -15px;      
    }
  }
}


/* LAPTOP MEDIA QUERY */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  
  h1, li, p {
    font-size: 35px;
  }

  #masthead {
    margin-top: 55px;
    margin-left: 180px;
    width: 40vw;
  }

  #mastheadIcon {
    width: 5%;
    margin-top: 7px;
  }

  p {
    font-size: 14px;
  }

  #indexContainerAccept p, #indexContainerUnknown p, #indexContainerNotAccept p{
    font-size: 12px;
    margin-top: 8px;
  }

  #indexContainerAccept .noMarkers p, #indexContainerUnknown .noMarkers p, #indexContainerNotAccept .noMarkers p {
    font-size: 12px;
    margin-top: 8px;
  }

  .visibleTabs, .visibleTabs2, .visibleTabs3 {
    font-size: 12px;
  }

  #visibilitySelectors p {
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    width: auto;
    padding-left: 10px;
    padding-top: 10px;
  }


  #aboutContent, #addContent, #toolsContent, #indexContent {
    margin-top: 130px;
    margin-left: 800px;
    width: 470px;
    height: auto;
  }

  #indexContainer {
    width: auto;
    height: auto;
  }

  #submitButton p {
    font-size: 14px; 
  }

  #tools h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .hamburgerMenu {
    position: fixed;
    padding-top: 60px;
    padding-left: 50px;
    z-index: 900;
  }

  #topNav li {
    line-height: 50px;
  }

  #topNav {
    margin-top: 130px;
  }

  .indexTabs a {
    padding:10px 30px;
  }

  #indexContainerAccept, #indexContainerUnknown, #indexContainerNotAccept {
    width: auto;
    height: auto;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 500px;
    max-height: 300px
  }

  #indexContainer {
    width: 530px;
    height: 600px;
  }
  
  #button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    outline: none;
    width: 30px;
      
    &.toggled {
      #icon {
        background-color: transparent;
          
        &:before {
          top: 0px;
          transform: rotate(-45deg);
        }
          
        &:after {
          bottom: 0px;
          transform: rotate(45deg);
        }
      }
    }
      
    #icon {
      background-color: black;
      height: 6px;
      position: relative;
      transition: all 0.25s;
      width: 50px;
        
      &:before,
      &:after {
        background-color: black;
        content: "";
        height: 6px;
        left: 0px;
        position: absolute;
        transition: all 0.25s;
        width: 50px;
      }
        
      &:before {
        top: -15px;
      }
        
      &:after {
        bottom: -15px;      
      }
    }
  }
}


/* PHONE MQ */
@media only screen and (max-width: 600px) {
  h1, li, p {
    font-size: 25px;
  }

  .tabs {
    font-size: 12px;
  }

  #masthead {
    margin-top: 35px;
    margin-left: 90px;
    width: 70vw;
  }

  #mastheadIcon {
    width: 5%;
    margin-top: 7px;
  }

  p {
    font-size: 14px;
  }

  #startingAccept, #startingUnknown, #startingNotAccept {
    width: 10%;
    margin: 20px;
  }

  #indexContainerAccept p, #indexContainerUnknown p, #indexContainerNotAccept p, .noMarkers p {
    font-size: 12px;
    margin-top: 8px;
  }

  #indexContainerAccept .noMarkers p, #indexContainerUnknown .noMarkers p, #indexContainerNotAccept .noMarkers p {
    font-size: 14px;
    margin-top: 8px;
  }

  .visibleTabs, .visibleTabs2, .visibleTabs3 {
    font-size: 10px;
  }

  #visibilitySelectors p {
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    width: auto;
    padding-left: 10px;
    padding-top: 10px;
  }


  #aboutContent, #addContent, #toolsContent, #indexContent {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
  }

  #legendAccept, #legendNotAccept, #legendUnknown {
    width: 5%;
    height: auto;
  }

  #indexContainer {
    width: auto;
    height: auto;
  }

  #submitButton p {
    font-size: 14px;
    color: black; 
  }

  #tools h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .hamburgerMenu {
    position: fixed;
    padding-top: 30px;
    padding-left: 20px;
    z-index: 900;
  }

  #topNav li {
    line-height: 50px;
  }

  #topNav {
    margin-top: 130px;
    margin-left: 90px;
    width: 70vw;
  }

  #topNav ul {
    width: 70vw;
  }

  .indexTabs a {
    padding:10px 20px;
    
  }

  #indexContent {
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  

  #indexContainer {
    padding: 25px;
  }

  .accept-marker h3, .unknown-marker h3, .not-accept-marker h3 {
    font-size: 12px;
  }

  .accept-marker p, .unknown-marker p, .not-accept-marker p {
    font-size: 10px;
  }


  #indexContainerAccept, #indexContainerUnknown, #indexContainerNotAccept {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 500px;
    max-height: 300px
  }

  #indexContainer {
    width: 530px;
    height: 600px;
  }
  
  #button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 40px;
    outline: none;
    width: 40px;
      
    &.toggled {
      #icon {
        background-color: transparent;
          
        &:before {
          top: 0px;
          transform: rotate(-45deg);
        }
          
        &:after {
          bottom: 0px;
          transform: rotate(45deg);
        }
      }
    }
      
    #icon {
      background-color: black;
      height: 5px;
      position: relative;
      transition: all 0.25s;
      width: 40px;
        
      &:before,
      &:after {
        background-color: black;
        content: "";
        height: 5px;
        left: 0px;
        position: absolute;
        transition: all 0.25s;
        width: 40px;
      }
        
      &:before {
        top: -15px;
      }
        
      &:after {
        bottom: -15px;      
      }
    }
  }
}