* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.mainContent {
    height: 1920px;
    width: 1200px;
    background-color: aqua;
}

#map-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

#map {
    cursor: grab;
    display: block;
    margin: auto;
    position: absolute;
    z-index: 1;
    /* transform: scale(0.2); */
}

#zoomInBtn, #zoomOutBtn {
    z-index: 2;
    position: fixed;
}

#zoomInBtn {
    top: 30%;
}

/* TYPE TREATMENT */

