* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#zoom {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(0.2) translate(0px, 0px);
    cursor: grab;
    display: block; 
    z-index: 2;
}

.zoom_outer {
    width: 100vw;
    height: 100vh;
}

/* TYPE TREATMENT */

nav {
    background-color: transparent;
    position: fixed;
    z-index: 3;
    margin-left: 100px;
    margin-top: 70px;
}

ul {
    text-decoration: none;
}

li {
    position: relative;
    display: inline;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    margin-right: 30px;
}

#regNav {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

#masthead {
    color: rgb(42, 185, 149);
    font-weight: bold;
    font-size: 32px;
}

/* Styling links within #regNav */
#regNav a:link,
#regNav a:visited {
    text-decoration: none;
    color: black;
}

/* Styling links within #masthead */
#masthead a:link,
#masthead a:visited {
    text-decoration: none;
    color: rgb(42, 185, 149);
}

@media screen and (max-width: 500px) {
    #regNav {
        color: black;
        font-weight: 600;
        font-size: 12px;
    }
    
    #masthead {
        color: rgb(42, 185, 149);
        font-weight: bold;
        font-size: 18px;
    }

    li {
        margin-right: 10px;
    }

    nav {
        margin-left: 40px;
        margin-top: 30px;
    }
}